<h1>All the Investors</h1>

<ul>
<% @investors.each do |investor| %>
    <li><%= link_to investor.name, investor_path(investor) %></li>
<% end %>  
</ul>

<%=link_to "Create an investor", new_investor_path%>
<br>
<h3><%= link_to "HOMEPAGE", index_path %></h3>

